{% extends 'base.html.twig' %}
{% block subheader %}
    <div class="content-header clearfix">
        <h1><i class="fa fa-user"></i>Add contact</h1>
        <div class="callback-links">
            <a href="/">>To list</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}