{% extends 'base.html.twig' %}
{% block subheader %}
    <div class="content-header clearfix">
        <h1><i class="fa fa-user"></i>Edit contact "{{ contact.firstName }}"</h1>
        <div class="callback-links">
            <ul>
                <li><a href="/delete/{{ contact.number }}">Delete</a></li>
                <li><a href="/">To list</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}