{% extends 'base.html.twig' %}
{% block subheader %}
    <div class="content-header clearfix">
        <h1><i class="fa fa-user"></i>List of contacts</h1>
        <div class="callback-links">
            <a href="/add" class="btn btn-success">Add</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% if list %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Number</th>
                    <th scope="col">First</th>
                    <th scope="col">Second</th>
                    <th scope="col">Last</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Phone</th>
                    <th scope="col" class="actions text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in list %}
                    <tr role="row">
                        <td tabindex="0">{{ loop.index }}</td>
                        <td>{{ contact.number }}</td>
                        <td>{{ contact.firstName }}</td>
                        <td>{{ contact.secondName }}</td>
                        <td>{{ contact.lastName }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td class="actions text-right">
                            <a href="/edit/{{ contact.number }}" class="btn btn-secondary"><i class="fa fa-pencil" ></i></a>
                            <a href="/delete/{{ contact.number }}" class="btn btn-danger"><i class="fa fa-trash" ></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="empty-message">No contacts</div>
    {% endif %}
{% endblock %}