.main-layout {
    padding:20px 20px 10px 20px;
    margin-top:30px;
}

.content-header {
    clear: both;
    min-height: 47px;
    border-bottom: 3px solid #eaeaea;
}

.content-header h1,
.content-header h2,
.content-header h3,
.content-header > h4 {
    float: left;
    margin: 0;
    word-wrap: break-word;
    max-width: 100%;
}

.content-group-item .content-header {
    min-height: 0;
    border-color: #f0f0f0;
}

@media screen and (max-width: 640px) {
    .content-header h1,
    .content-header h2,
    .content-header h3,
    .content-header > h4 {
        word-break: normal;
    }
}

.content-header h1 {
    padding-top: 5px;
}

@media screen and (max-width: 1200px) {
    .content-header h1 {
        font-size: 24px;
    }
}

.content-header h2 {
    padding-top: 8px;
}

.content-header h3 {
    padding-top: 15px;
}

.content-header > h4 {
    padding-top: 15px;
}

.content-group-item .content-header > h4 {
    padding: 10px 0 0;
    min-height: 45px;
}

.content-header .callback-links {
    float: right;
    padding-bottom: 5px;
}

.content-group-item .content-header .callback-links {
    padding-bottom: 10px;
}

.content-header .btn-group {
    margin-bottom: 0;
}

.content-header h1 i,
.content-header-simple h1 i {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 28px;
    margin-right: 10px;
    line-height: 28px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
    text-shadow: 1px 1px 1px #bbb, -1px 1px 1px #bbb;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background: #dedede;
}

.content-header h1 a {
    color: #555;
    text-decoration: underline;
}

.content-header h1 a:hover {
    text-decoration: none;
}

.content-header-simple {
    border-bottom: 3px solid #e0e0e0;
}

.content-header-simple h1,
.content-header-simple h2,
.content-header-simple h3 {
    margin: 0 0 7px;
}

.content-header-simple h2,
.content-header-simple h3 {
    margin-left: 40px;
}

.content .empty-message {
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    color: #999;
    background: #fdfdfd;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
}

.content .empty-message a {
    color: #999;
    text-decoration: underline;
}

.content .empty-message a:hover {
    color: #777;
    text-decoration: none;
}

.panel-body > .wms-block > .empty-message,
.panel-body > .empty-message {
    margin-top: 0;
}